body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    text-align: center;
}

.container {
    background-color: white;
    padding: 30px;
    margin: 50px auto;
    width: 420px;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}

input {
    width: 85%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background: #4facfe;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #067bdb;
}

.danger {
    background: red;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.error {
    color: red;
    font-weight: bold;
}

h1 {
    font-size: 25px;
    margin-top: 15px;
}
